body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
header{
    background: #0a5c36;
    color: white;
    text-align: center;
    padding: 30px 10px;
    border-radius: 10px;
}
header h1{
    margin: 0;
    font-size: 28px;
}
header p{
    font-size: 16px;
}

.section{
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
    gap: 15px;
    margin-top: 20px;
}
.card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, O.1);
}
.card img{
    width: 100%;
    
    object-fit: cover;
    border-radius: 8px;
}
.contact{
    background: #0a5c36;
    color: white;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
}
button{
    background: orange;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    border-radius: 10px;
}